body{
    height: 80vh;
    background-color: rgb(209, 117, 117);
    display:flex;
    align-items: center;
    justify-content:center;
    font-family:sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    border:solid 3px;
    border-radius: 10px;

}

a {
    display:flex;
    justify-content:space-between;
    align-self:center;
    font-weight: bold;
    text-decoration: none;
    color: initial;
    margin:20px;
    color:white;
    font-size:1.5rem;
    
}

