body{
    height:40vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgb(207, 199, 199);
    font-size: 15px;
    font-family: sans-serif

}

.carcasa{
    background-color:rgb(209, 40, 40);
    height: 280px;
    width:300px;
    border: solid 3px;
    padding:10px;
}

h4{
    display:flex;
    justify-content:center;
    background-color:grey;
    border-radius: 20px;
    width: 295px;
    border: solid;

}

.botones{
    display:flex;
    justify-content:center;
    
}

.num1{
    color:white;
    padding: 5px;
}

.num2{
    color:white;
    padding: 5px;
}

h3{
    padding:10px;
    background-color: rgba(214, 216, 216, 0.877);
    border-radius:5px;
    border: solid 2px;
    width: 13rem;
    height:30px;
    margin-left: 35px;
}

.resultado{
    display:flex;
    justify-content:center;
    font-size: 30px;
    font-weight: bold;
    
}

a{
    text-decoration: none;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}